    
.footer {
    background-color: #0d3441;
    
    padding: 2px;
}
p.parrafo-footer{
    color: azure;
    display: grid;
    justify-content: center;}

footer .iconos {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;}