%title-prymary{
    font-family:$font-typo-title ;
    font-size: $font-size-title;
    color: $font-color-title;
    display: $display-title;
}
//mixin
@mixin titulo-primario ($font-size-title){
    font-family:$font-typo-title ;
    font-size: $font-size-title;
    color: $font-color-title;
    display: $display-title;
}
    
